.cp-picker {
  --cp-width: 300px;
  --cp-spacing: 6px;
  --cp-focus-color: var(--focus-color, dodgerblue);
  --cp-box-shadow-focus: 0 0 0 2px var(--cp-focus-color);

  --cp-color: hsl(var(--hsl-h), var(--hsl-s), var(--hsl-l), var(--hsl-a));

  display: block;
  width: var(--cp-width);
}

.cp-picker *,
.cp-picker *::before,
.cp-picker *::after {
  box-sizing: border-box;
}

.cp-picker button {
  font: inherit;
}

.cp-picker button:hover {
  outline: none;
  background-color: #ddd;
}

.cp-picker button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.cp-color-space {
  position: relative;
  overflow: hidden;
  height: calc(var(--cp-width) * 0.6);
  background-color: hsl(var(--hsl-h), 100%, 50%);
  background-image: linear-gradient(to top, #000, transparent),
    linear-gradient(to right, #fff, hsla(0, 0%, 100%, 0));
}

.cp-color-space__marker {
  --cp-marker-size: calc(var(--cp-spacing) * 4);

  box-sizing: border-box;
  position: absolute;
  bottom: var(--hsv-v);
  left: var(--hsv-s);
  width: var(--cp-marker-size);
  height: var(--cp-marker-size);
  margin-left: calc(-1 * var(--cp-marker-size) / 2);
  margin-bottom: calc(-1 * var(--cp-marker-size) / 2);
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px #000;
  border-radius: 50%;
}

.cp-color-space__marker:focus {
  outline: none;
  box-shadow: var(--cp-box-shadow-focus);
}

.cp-preview-row,
.cp-color-format-row {
  padding-top: var(--cp-spacing);
  padding-bottom: var(--cp-spacing);
}

.cp-slider-group > *:not(:first-child) {
  margin-top: calc(var(--cp-spacing) * 2);
}

.cp-slider {
  --slider-track-width: 100%;
  --slider-track-height: calc(var(--cp-spacing) * 3);
  --slider-thumb-size: calc(var(--cp-spacing) * 4);

  display: block;
}

.cp-slider__input,
.cp-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.cp-slider__input {
  display: block;
  width: var(--slider-track-width);
  height: var(--slider-track-height);
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.cp-slider__input:focus {
  outline: none;
}

.cp-slider__input:focus::-moz-range-track {
  outline: 2px solid var(--cp-focus-color);
}

.cp-slider__input:focus::-webkit-slider-runnable-track {
  outline: 2px solid var(--cp-focus-color);
}

.cp-slider__input:focus::-ms-track {
  outline: 2px solid var(--cp-focus-color);
}

/* Firefox, why?! */
.cp-slider__input::-moz-focus-outer {
  border: none;
}

/* Range input: Tracks */
.cp-slider__input::-moz-range-track {
  display: block;
  box-sizing: border-box;
  height: var(--slider-track-height);
}

.cp-slider__input--hue::-moz-range-track {
  background-image: linear-gradient(
    to right,
    #f00 0,
    /*   0° */ #ff0 16.67%,
    /*  60° */ #0f0 33.33%,
    /* 120° */ #0ff 50%,
    /* 180° */ #00f 66.67%,
    /* 240° */ #f0f 83.33%,
    /* 300° */ #f00 /* 360° */
  );
}

.cp-slider__input--alpha::-moz-range-track {
  background-image: linear-gradient(to right, transparent, var(--cp-color));
}

.cp-slider__input::-webkit-slider-runnable-track {
  width: var(--slider-track-width);
  height: var(--slider-track-height);
  border: none;
}

.cp-slider__input--hue::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    to right,
    #f00 0,
    /*   0° */ #ff0 16.67%,
    /*  60° */ #0f0 33.33%,
    /* 120° */ #0ff 50%,
    /* 180° */ #00f 66.67%,
    /* 240° */ #f0f 83.33%,
    /* 300° */ #f00 /* 360° */
  );
}

.cp-slider__input--alpha::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, transparent, var(--cp-color));
}

.cp-slider__input::-ms-track {
  width: var(--slider-track-width);
  height: var(--slider-track-height);
  border: none;
}

.cp-slider__input--hue::-ms-track {
  background-image: linear-gradient(
    to right,
    #f00 0,
    /*   0° */ #ff0 16.67%,
    /*  60° */ #0f0 33.33%,
    /* 120° */ #0ff 50%,
    /* 180° */ #00f 66.67%,
    /* 240° */ #f0f 83.33%,
    /* 300° */ #f00 /* 360° */
  );
}

.cp-slider__input--alpha::-ms-track {
  background-image: linear-gradient(to right, transparent, var(--cp-color));
}

/* Range input: Thumbs */
.cp-slider__input::-moz-range-thumb {
  box-sizing: border-box;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 1px #000;
  transform: rotate(0);
}

.cp-slider__input::-webkit-slider-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  margin-top: calc((var(--slider-track-height) - var(--slider-thumb-size)) / 2);
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 1px #000;
  transform: rotate(0);
}

.cp-slider__input::-ms-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  margin-top: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 1px #000;
  transform: rotate(0);
}

.cp-text-field {
  display: block;
}

.cp-text-field__label {
  display: block;
  text-align: center;
}

.cp-text-field__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em 0.25em;
  border: 1px solid #ccc;
  text-align: center;
  font: inherit;
  font-family: "Fira Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
}

.cp-select {
  display: block;
}

.cp-select__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0;
  padding: 0.5em 0.8em 0.5em 0.25em;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23currentColor%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.55em top 50%, 0 0;
  background-size: 0.7em auto, 100%;
  font: inherit;
  line-height: 1;
  min-width: 5em;
}

/* What the fuck, Firefox */
.cp-select__input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.cp-select option {
  padding: 0;
}

.cp-color-preview {
  position: relative;
  display: block;
  width: calc(var(--cp-spacing) * 6);
  height: calc(var(--cp-spacing) * 6);
  border-radius: 50%;
  overflow: hidden;
}

.cp-color-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cp-color);
}

.cp-copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--cp-spacing) * 6);
  height: calc(var(--cp-spacing) * 6);
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.cp-copy-button:focus {
  outline: none;
  box-shadow: var(--cp-box-shadow-focus);
}

.cp-clipboard-icon {
  transform: rotate(0);
}

.cp-format-switcher-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cp-spacing);
  border: none;
  background-color: #fff;
}

.cp-switcher-arrow-icon {
  transform: rotate(0);
}

[data-cp-format-group="hsl"],
[data-cp-format-group="hsv"],
[data-cp-format-group="hwb"],
[data-cp-format-group="rgb"],
[data-cp-format-group="hex"] {
  display: none;
}

.cp-picker[data-cp-active-format="hsl"] [data-cp-format-group="hsl"],
.cp-picker[data-cp-active-format="hsv"] [data-cp-format-group="hsv"],
.cp-picker[data-cp-active-format="hwb"] [data-cp-format-group="hwb"],
.cp-picker[data-cp-active-format="rgb"] [data-cp-format-group="rgb"],
.cp-picker[data-cp-active-format="hex"] [data-cp-format-group="hex"] {
  display: block;
}

/*
Utility: Tiled background
*/
.cp-tiled-background {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee
    ),
    linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee
    );
  background-size: calc(var(--cp-spacing) * 2) calc(var(--cp-spacing) * 2);
  background-position: 0 0, var(--cp-spacing) var(--cp-spacing);
}

/*
Utility: Columns
*/
.cp-columns {
  display: flex;
  align-items: center;
}

.cp-columns--bottom {
  align-items: flex-end;
}

.cp-columns--center {
  justify-content: center;
}

.cp-column:not(:first-child) {
  margin-left: var(--cp-spacing);
}

.cp-column--grow {
  flex-grow: 1;
}

/*
Utility: Visibility hidden

Source: https://github.com/h5bp/html5-boilerplate

Hide only visually, but have it available for screen readers:
https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

1. For long content, line feeds are not interpreted as spaces
   and small width causes content to wrap 1 word per line:
   https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.cp-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}
