/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
 width: 100%;
 height: 100%; 
}


.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input, textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

/*******************************************************************************************/
/* this below is Suz code please forgive or improve */

html, body, main, #app {
  margin: 0;
}

h1 {
  font-weight: bold;
  color: black;
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 50px;
  margin-top: 0px;
}

h1 .hemoji {
  font-size: 0.7em;
}

#dashboard {
 margin: 0px;
 padding: 25px;
 width: 100vw;
 height: 100vh;
 overflow: auto;
}

.card {
  position: absolute;
  padding: 15px;
  border: 2px solid #222;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
}

.card h2 {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-family: 'Chivo', sans-serif;
  word-wrap: break-word;
}

.card h3 {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
}

.card .number {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  padding:0px;
  margin:0px;
  font-family: 'Chivo', sans-serif;
}

.card button, .card .button, .card input[type=submit] {
  font-family: 'Chivo', sans-serif;
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}

.card button:hover, .card .button:hover, .card .button.hover, .card input[type=submit]:hover, .card input[type=submit].hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}

.card button:focus, .card button.focus, .card .button.focus, .card .button:focus {
  border: 2px solid #333;
}

.card button:active, .card .button:active, .card .button.active, .card input[type=submit]:active, .card input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px;
}

.card.dragging:hover {
  cursor: move;
  user-select: none;
}

#settings {
  right: 0px;
  top: 50px;
  min-width: 280px;
}

#settings select {
  height: 30px;
  width: 100%;
}

.card form input[type=submit] {
  padding: 5px;
  font-size: 14px;
  width: 97%;
}

.card .controls {
  position: relative;
  margin-top: -12px;
  margin-right: -10px;
  float: right;
  display: inline;
 }

button.edit {
  color: #0000ff;
}

button.edit, button.edit:hover, button.delete, button.delete:hover {
  transform: none;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: none;
  font-size: 10px;
  float: left;
  padding: 5px;
 }

 button.edit:focus, button.delete:focus, button.edit:hover, button.delete:hover {
   border: 1px solid #0000ff;
 }

 .card p.status {
   position: relative;
   margin-top: 20px;
   font-size: 12px;
 }

 p.error, button.delete {
   color: #da2727;
 }

button.delete {
   font-weight: bold;
 }

 p.success {
   color: #199e1b;
 }


.cardform form {
  padding: 0;
  background-color: white;
  display: inline-block;
  width: 100%;
  max-width: 340px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 2px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 13px;
}


label {
  font-size: 13px;
  display: block;
}

select {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  height: 20px;
}

.settings__checkbox-label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.settings__checkbox {
  margin: 0 0 0 5px;
  width: auto;
}

.simulation-status {
  font-family: 'Chivo', sans-serif;
  font-size: 0.875rem;
  position: absolute;
  top: 5px;
  right: 10px;
}
