/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  background-color: cyan;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

form:not(:last-child) {
  margin-bottom: 25px;
}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 14px;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #bbbbbb;
}

.nicejob {
  text-decoration: line-through;
}

.card {
  padding: 15px;
  border: 2px solid #222;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .card {
    position: absolute;
    margin-bottom: initial;
  }
}

/*******************************************************************************************/
/* this below is Suz code please forgive or improve */

html,
body,
main,
#app {
  margin: 0;
}

h1 {
  font-weight: bold;
  color: black;
  font-family: "Nanum Pen Script", sans-serif;
  font-size: 50px;
  margin-top: 0px;
}

h1 .hemoji {
  font-size: 0.7em;
}

#dashboard {
  margin: 0px;
  padding: 25px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.card h2 {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-family: "Chivo", sans-serif;
  word-wrap: break-word;
}

.card h3 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
}

.card .number {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: "Chivo", sans-serif;
}

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  color: currentColor;
  background-color: #fff;
  font: inherit;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.inline-button {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 10px;
}

/*
1. Stops following elements from covering the focus outline.
*/
.inline-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px goldenrod;
  transform: rotate(0); /* 1. */
}

.inline-button:hover {
  border-color: currentColor;
}

.edit-button {
  color: #00f;
}

.delete-button {
  color: #da2727;
  font-weight: bold;
}

.action-button {
  --base-box-shadow: 1px 0 hsla(214, 45%, 30%, 1), 0 1px hsla(214, 45%, 40%, 1),
    2px 1px hsla(214, 45%, 30%, 1), 1px 2px hsla(214, 45%, 40%, 1),
    3px 2px hsla(214, 45%, 30%, 1), 2px 3px hsla(214, 45%, 40%, 1),
    4px 3px hsla(214, 45%, 30%, 1), 3px 4px hsla(214, 45%, 40%, 1);

  --ext-box-shadow: var(--base-box-shadow), 5px 4px hsla(214, 45%, 30%, 1),
    4px 5px hsla(214, 45%, 40%, 1), 6px 5px hsla(214, 45%, 30%, 1),
    5px 6px hsla(214, 45%, 40%, 1);

  font-family: "Chivo", sans-serif;
  border: none;
  background-color: hsl(214, 45%, 47%);
  color: white;
  padding: 8px 14px;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  /* needed for anchors */
  position: relative;
  box-shadow: var(--ext-box-shadow);
}

.action-button:hover {
  transform: translate(2px, 2px);
  box-shadow: var(--base-box-shadow);
}

.action-button:focus {
  box-shadow: 0 0 0 2px #333, var(--ext-box-shadow);
}

.action-button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.card.dragging:hover {
  cursor: move;
  user-select: none;
}

.card form input[type="submit"] {
  padding: 5px;
  font-size: 14px;
  width: 97%;
}

.card .controls {
  position: relative;
  margin-top: -12px;
  margin-right: -10px;
  float: right;
  display: flex;
}

.card p.status {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
}

.card p.status:empty {
  margin-top: 0;
  margin-bottom: 0;
}

p.error {
  color: #da2727;
}

p.success {
  color: #048401;
}

.cardForm form {
  padding: 0;
  background-color: white;
  display: inline-block;
  width: 100%;
  max-width: 340px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 2px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 13px;
}

label {
  font-size: 13px;
  display: block;
}

select {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  height: 20px;
}

.cardForm .max-length-info {
  margin-top: -7px;
  margin-bottom: 15px;
  display: block;
}

/* -------------- */
/* Settings panel */
/* -------------- */

.settings {
  min-width: 280px;
  right: 0px;
  top: 50px;
}

.settings__header {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.settings--closed {
  min-width: auto;
}

.settings--closed .settings__header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.settings--closed .settings__title {
  display: none;
  margin: 0 15px 0 0;
}

.settings--closed .settings__body {
  display: none;
}

.settings .settings__toggle-btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: none;
  color: #000;
  padding: 2px;
}

.settings .settings__toggle-btn:hover {
  transform: none;
  box-shadow: none;
}

.settings__toggle-btn:hover + .settings__title,
.settings__toggle-btn:focus + .settings__title {
  display: block;
}

.settings select {
  height: 30px;
  width: 100%;
}

.settings__checkbox-label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.settings__checkbox {
  margin: 0 0 0 5px;
  width: auto;
}

.simulation-status {
  font-family: "Chivo", sans-serif;
  font-size: 0.875rem;
  position: absolute;
  top: 5px;
  right: 10px;
}

/* -------------- */
/* Helper classes */
/* -------------- */

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
a11y-dialog styling layer
http://edenspiekermann.github.io/a11y-dialog/#styling-layer
*/

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.modal {
  pointer-events: all;
}

.modal__title {
  font-family: inherit;
  font-size: inherit;
}

.modal__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  font-weight: bold;
}

dialog {
  position: relative;
  padding: 15px;
  border: 2px solid #222;
  border-radius: 6px;
}

/**
 * When the native `<dialog>` element is supported, the overlay is implied and
 * can be styled with `::backdrop`, which means the DOM one should be removed.
 *
 * The `data-a11y-dialog-native` attribute is set by the script when the
 * `<dialog>` element is properly supported.
 *
 * Feel free to replace `:first-child` with the overlay selector you prefer.
 */
[data-a11y-dialog-native] > :first-child {
  display: none;
}

/**
 * When the `<dialog>` element is not supported, its default display is `inline`
 * which can cause layout issues. This makes sure the dialog is correctly
 * displayed when open.
 */
dialog[open] {
  display: block;
}

/**
 * When the native `<dialog>` element is not supported, the script toggles the
 * `aria-hidden` attribute on the container. If `aria-hidden` is set to `true`,
 * the container should be hidden entirely.
 *
 * Feel free to replace `.dialog-container` with the container selector you
 * prefer.
 */
.dialog-container[aria-hidden="true"] {
  display: none;
}

.vc-compact {
  margin-bottom: 10px;
  box-sizing: content-box;
  box-shadow: none;
}
